<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="My Site">
    <meta name="author" content="Your Name">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>404 Not Found</title>
    {% endif %}

    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

</head>

    <body>
        <div class="page-wrap d-flex flex-row align-items-center mt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex justify-content-center">
                      
                    </div>
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">404</span>
                        <div class="mb-2 lead">
                            The location you are looking for was not found
                        </div>
                        <a href="{{ url_for('index') }}" class="btn btn-link">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>