{% extends "layout.html" %}

{% block content %}
<form method="POST" action="" class="mt-4">
    {{ form.csrf_token() }}
    <fieldset class="form-group">
        <legend class="mt-4 mb-4 text-center">Applied Here</legend>
        <!-- {{ form.hidden_tag() }} -->
        {% for field in form %}
            {% if field.name == 'submit' %}
                <button type="submit" class="btn btn-outline-info btn-lg mt-2">{{ form.submit.label }}</button>
            {% else %}

            <div class="form-group">
                {{ field(class="form-control form-control-lg mt-2") }}
                {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </fieldset>


</form>

{% endblock %}