{% extends "layout.html" %}

{% block content %}

<h3>Overview</h3>

<div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-striped"> <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in overview.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}