{% extends "layout.html" %}

{% block content %}
<form method="POST" autocomplete="off" action="" class="mt-4">
    {{ form.csrf_token() }}
    <fieldset class="form-group">
        <legend class="mt-4 mb-4 text-center">Update Company Information</legend>
        {% for field in form %}
            {% if field.name not in ['country', 'state', 'city', 'submit'] %}
                {% if field.type == "StringField" %}
                <div class="form-group">
                    {% if field.errors %}
                    {{ field(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ field(class="form-control form-control-lg mt-2") }}
                    {% endif %}
                </div>
                {% elif field.type== "TextAreaField" %}
                <div class="form-group">
                    <!-- {{ field.label(class="form-control-label mt-1") }} -->
                    {% if field.errors %}
                    {{ field(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ field(class="form-control form-control-lg mt-2") }}
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country(class="form-control form-control-lg mt-2") }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.state(class="form-control form-control-lg mt-2") }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-lg mt-2") }}
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-info btn-lg mt-2">Update Information</button>

        <!-- back button to view companies and discard changes -->
        <a href="{{ url_for('my_companies.view_companies') }}" class="btn btn-outline-secondary btn-lg mt-2">
            Back to View All Companies
        </a>


    </fieldset>

</form>

{% endblock %}