<!-- forgot password -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>

<body>
    <!-- show in the middle -->
    <div class="container">
     
        <h1>Forgot Password</h1>
        <hr>
        <form action="" method="post" class="row g-3 needs-validation form-horizontal" novalidate>
            <div class="form-group">
                <label for="email" class="form-label col-sm-2 control-label">Email address</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" id="email" name="email" required>

                    <div class="invalid-feedback" style="display: none;">Please provide a valid email address.</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-default">Send Reset Link</button>
                </div>
            </div>
            <br>
            <br>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {

                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });

            // if email field is empty, and submit button is clicked, show invalid feedback
            var submit = document.querySelector('button[type="submit"]');
            submit.addEventListener('click', function (event) {
                if (email.value == '') {
                    email.nextElementSibling.style.display = 'block';
                    // change the color of the invalid feedback to red
                    email.nextElementSibling.style.color = 'red';
                }
            }, false);

        })();
    </script>

</body>

</html>