<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="My Site">
    <meta name="author" content="Your Name">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Dev-ViN Home</title>
    {% endif %}

    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">Dashboard</a>
                <div class="navbar-nav ms-auto">
                    <a href="{{ url_for('dashboard.settings') }}" class="nav-link">
                        <i class="bi bi-gear navIcons"></i>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="bi bi-person-circle navIcons"></i>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="bi bi-box-arrow-right navIcons"></i>
                    </a>
                    </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="accordion" id="accordionExample">
                    <script>
                        const accordionItems = [
                            { 
                                id: 'companies', title: 'Companies', urls: [
                                    { text: 'Add New Company', url: "{{ url_for('my_companies.add_company') }}" },
                                    { text: 'View Companies', url: "{{ url_for('my_companies.view_companies') }}" }
                                ]
                            },
                            { 
                                id: 'applications', title: 'Applications', urls: [
                                    { text: 'Add New Application', url: "{{ url_for('my_applications.add_application') }}" },
                                    { text: 'View Applications', url: "{{ url_for('my_applications.view_applications') }}" }
                                ]
                            },
                            {   
                                id: 'foodreviews', title: 'Food Reviews', urls: [
                                    { text: 'Add New Food Review', url: "{{ url_for('food_track.add_new_food') }}" },
                                    { text: 'View Food Reviews', url: "{{ url_for('food_track.view_food') }}" }
                                ]
                            },
                            {   
                                id: 'trackweight', title: 'Track Weight', urls: [
                                    { text: 'Weight Tracker', url: "{{ url_for('my_weight_tracking.log_weight') }}" }
                                ]
                            }
                        ];
            
                        accordionItems.forEach(item => {
                            document.write(`
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="${item.id}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-${item.id}" aria-expanded="false" aria-controls="collapse-${item.id}">
                                            ${item.title}
                                        </button>
                                    </h2>
                                    <div id="collapse-${item.id}" class="accordion-collapse collapse" aria-labelledby="${item.id}"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="nav flex-column ms-1" data-bs-parent="#menu">
                                                ${item.urls.map(url => `<li><a href="${url.url}" class="nav-link">${url.text}</a></li>`).join('')}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            `);
                        });
                    </script>
                </div>
            </div>
            

            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </main>

    {% include 'footer.html' %}
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>


</body>

</html>