{% extends "layout.html" %}

{% block content %}

<div class="container-fluid mt-4">
    <h4 class="text-center">Food I have tried</h4>
    <div class="table-responsive">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Item Name</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Count</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.dateAdded.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                        <td>{{ file.name }}</td>
                        <td>{{ file.brand }}</td>
                        <td>{{ file.price }}</td>
                        <td>
                            <img src="https://{{ bucket }}.s3.{{ region }}.amazonaws.com/{{ file.image_data }}" class="img-fluid img-thumbnail mx-auto d-block vin-img">
                        </td>
                        
                        {% if file.count %}
                            <td>{{ file.count }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}

                        <td><a href="/edit_food/{{ file.id }}"><i class="bi-pencil-square"></i></a></td>
                        <td><a href="/delete_food/{{ file.id }}"><i class="bi-trash"></i></a></td>
        
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>


{% endblock %}