{% extends "layout.html" %}

{% block content %}
<div class="container-fluid mt-4">
    <h4 class="text-center">Applications I am tracking</h4>
    <div class="table-responsive">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Company name</th>
                    <th>Applied on</th>
                    <th>Job Link</th>
                    <th>Position</th>
                    <th>Found at</th>
                    
                    
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td id="date">{{ file.date }}</td>
                    
                    <td><a href="{{ file.link }}" target="_blank"><i class="bi-link-45deg"></i></a></td>
                    <td>{{ file.position }}</td>
                    <td>{{ file.portal }}</td>                    

                    <td><a href="/edit_application/{{ file.id }}"><i class="bi-pencil-square"></i></a></td>
                    <td><a href="/delete_application/{{ file.id }}"><i class="bi-trash"></i></a></td>

                </tr>
                
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

{% endblock %}

