{% extends "layout.html" %}

{% block content %}
<div class="container-fluid mt-4">
    <h4 class="text-center">Companies I am tracking</h4>
    <div class="table-responsive">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Company name</th>
                    <th>Career Link</th>
                    <th>City</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for file in files %}
                <tr>
                    <td><a href="{{ file.url }}" target="_blank">{{ file.name }}</a></td>
                    <td><a href="{{ file.career_page_url }}" target="_blank"><i class="bi-box-arrow-up-right"></i></a>
                    </td>

                    {% if file.city %}
                    <td>{{ file.city }}</td>
                    {% else %}
                    <td>Not available</td>
                    {% endif %}

                    <td><a href="/edit_company/{{ file.id }}"><i class="bi-pencil-square"></i></a></td>
                    <td><a href="/delete_company/{{ file.id }}"><i class="bi-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

{% endblock %}